<% include ../partials/header%>
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>This is the campgrounds page</h1>
			<p> View our selection of campgrounds</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Create New Campground</a>
			</p>
		</div>
	</div>
	<a href="/">Back to Landing Page</a>
	<div class="row" style="display:flex; flex-wrap:wrap">
		<% campgrounds.forEach(function(campground) { %>
			<div class="col-lg-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= campground.image%>">
					<div class="caption text-center">
						<p><%= campground.name%></p>
					</div>
					<p>
						<a href="campgrounds/<%= campground.id%>" class="btn btn-primary">More Info</a>
					</p>
				</div>				
			</div>
		<% }); %>
	</div>	
</div>

<% include ../partials/footer%>